<footer>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <%= link_to(new_post_path,class: "nav-link btn btn-primary") do %>新規投稿<% end %>
      </li>
    </ul>
  </nav>
</footer>