<% provide(:title, "概要") %>
<div class="box box_bg_photo">
  <p>MOTOSNSはバイク好きな人と繋がるためのサービスです。<br><br>
  あなたも利用してもみませんか？<br><br>
  きっと素敵なバイク仲間に出会えます<br><br>
  背景画像は<a href="https://www.photo-ac.com/profile/43626">acworks</a>さんによる<a href="https://www.photo-ac.com/">写真AC</a>からの写真です。</p>
</div>