<% provide(:title, "概要") %>
<div class="box box_bg_photo">
  <div class="bg_color text-center p-3">
    <p>MOTOSNSはバイク好きな人と繋がるためのサービスです。<br><br>
    あなたも利用してもみませんか？<br><br>
    きっと素敵なバイク仲間に出会えます。<br><br>
    背景画像は<%= link_to "acworks", "https://www.photo-ac.com/profile/43626", style: "color:white;" %>さんによる<%= link_to "写真AC", "https://www.photo-ac.com/", style: "color:white;" %>からの写真です。</p>
  </div>
</div>