$gray-medium-light: #eaeaea;

body {
  margin-top: 55px;
  margin-bottom: 55px;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

// トップページ
.box {
  width: 100vw;
  height: 100vh;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column; 
  color: rgb(248, 247, 247);

  .bg_color{
    background-color: rgba(128,128,128,0.8);
    border-radius: 15px;
  }
  h1{
    font-size: 100px;
    @media screen and (max-width: 480px){
      font-size: 35px;
    }
  }
  h2{
    font-size: 60px;
    @media screen and (max-width: 480px){
      font-size: 25px;
    }
  }
  p{
    font-weight: 500;
  }
}

.box_bg_photo {
  background-image: url("4edb4686db7f80f67fa1bbf916610e97_s.jpg");
  background-size: cover;
  background-position: center;
}

.box_registar{
  padding-top: 15px;
}

// ユーザー登録,ログイン画面
.devise-wrapper {
  padding: 20px 0px;
}

// ユーザー詳細画面
.profile-wrap{
  padding: 40px 0px;
}

.edit-profile-btn {
  margin: 15px 0 0 15px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  border-color: #dbdbdb;
  font-size: 14px;
}

// 投稿画面
.new-post-wrap {
  padding: 15px 0px;
}

//いいねボタン
.red {
  color: red;
}